APP_PORT=18080
IMAGE_TAG=latest
PIP_MIRROR_URL=https://mirrors.aliyun.com/pypi/simple
GITHUB_API_URL=https://github.com
MARKETPLACE_API_URL=https://marketplace.dify.ai
PLUGIN_SIGNING_PRIVATE_KEY_PATH=
PLUGIN_SIGNING_PUBLIC_KEY_PATH=

# Optional proxy settings
HTTP_PROXY=
HTTPS_PROXY=
NO_PROXY=127.0.0.1,localhost
